In [6]:
import csv
import pandas as pd

mypath = "C:/Users/vajjalas/Desktop/NERProject/evaluateNER/results/senlen-stats.csv"
df = pd.read_csv(mypath,
                 delimiter=",", quoting=csv.QUOTE_NONE, encoding='utf-8', header=0)

In [18]:
df.columns

Index(['sentid', ' sentlen', ' numents', ' percentcorrect_spacy',
       ' percentcorrect_stanza'],
      dtype='object')

In [22]:

df1 = df[[' numents', ' percentcorrect_spacy', ' percentcorrect_stanza']]

In [23]:
df1.groupby([' numents']).mean()

           percentcorrect_spacy   percentcorrect_stanza
 numents
0                      0.000000                0.000000
1                      0.772461                0.867092
2                      0.822106                0.877609
3                      0.875530                0.902405
4                      0.861575                0.898568
5                      0.875912                0.905839
6                      0.864368                0.916092
7                      0.841558                0.903896
8                      0.884375                0.887500
9                      0.898990                0.944444
10                     0.955556                0.966667
11                     0.854545                0.927273
12                     0.812500                0.916667
15                     1.000000                1.000000
16                     1.000000                1.000000
17                     0.882353                0.705882
18                     1.000000                0.944444
21                     0.904762                0.904762

In [24]:
df1[' numents'].value_counts()

0     3638
1     1881
2     1054
3      707
4      419
5      274
6      145
7       55
8       40
9       22
10       9
12       8
11       5
16       1
15       1
17       1
21       1
18       1
Name:  numents, dtype: int64

In [25]:
df2 = df[[' sentlen', ' percentcorrect_spacy', ' percentcorrect_stanza']]

In [26]:
df2[' sentlen'].value_counts()

2      507
11     333
7      305
9      299
8      292
13     281
15     280
6      273
17     267
10     266
14     262
16     255
12     252
5      252
18     252
19     220
20     217
21     208
4      204
23     194
3      187
22     186
25     160
24     156
26     147
27     145
28     143
31     122
29     112
30     111
      ...
79       4
67       4
68       4
74       4
69       4
80       3
60       3
71       3
86       3
75       3
76       3
66       2
72       2
83       2
98       2
82       2
108      2
88       1
151      1
104      1
73       1
81       1
89       1
87       1
84       1
100      1
78       1
94       1
102      1
115      1
Name:  sentlen, Length: 95, dtype: int64

In [34]:
df3 = df2.groupby([' sentlen']).mean().reset_index()

In [35]:
df3.columns

Index([' sentlen', ' percentcorrect_spacy', ' percentcorrect_stanza'], dtype='object')

In [38]:
df3.to_csv("results/senlen-summarystats.csv",sep=",",index=False,header=True)